%text-style {
    font-size: 20px;
    line-height: 16px;
}

%width {
    max-width: 1190px;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 460px) {

    main section:not(.form) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        .head {
            height: 55px;
            align-items: center;
            padding-top: 50px;
            color: #fff;
            width: 100%;
            max-width: 320px;
            margin: 0;
        }

        &__logo {
            width: 150px;
            height: 55px;
        }

        &__nav {
            display: none;
        }

        &__btn {
            display: block;
        }
    }

    .background {
        padding-top: 72px;
        height: 740px;

        &__title {
            font-size: 50px;
            line-height: 60px;
            margin-top: 70px;
        }

        &__content {
            width: 100%;
        }

        &__text {
            font-size: 18px;
            line-height: 25px;
            padding: 30px 0 40px;
        }

        &__btn {
            width: 320px;
            height: 50px;
            font-size: 18px;
            line-height: 23px;
            margin: 0 auto;
            display: block;
        }

        &__text-lesson {
            font-size: 12px;
            line-height: 15px;
            padding-top: 10px;
        }

        &__girl-container {
            display: none;
        }

        &__lamp {
            left: 0;
            right: 0;
        }

    }

    .easy {
        &__content {
            //@extend%width;
            height: 240px;
            width: 320px;
        }

        &__content-title {
            line-height: 45px;
        }

        &__content-text {
            font-size: 18px;
            line-height: 25px;
        }

        &__girl {
            bottom: -110px;
            left: unset;
            margin-right: 0;
            right: 5px;
        }

        &__girl img {
            width: 250px;
            height: 260px;
        }
    }

    .banner {
        height: 80px;
        margin: 50px 100px 0;

        &__container {
            width: 330px;
            height: 80px;
            background-size: 200px;
            right: unset;
            margin-top: 100px;
        }

        &__text {
            font-size: 12px;
            line-height: 20px;
            left: 150px;
            top: unset;
            max-width: 180px;
        }

        &__img img {
            width: 66px;
            height: 10px;
        }

        &__img {
            left: 30px;
            top: 30px;
        }

        &:hover &__text {
            -webkit-animation-play-state: unset;
            animation-play-state: unset;
        }
    }

    .price {

        &__container {
            margin-top: 500px;
            flex-direction: column;
            gap: 170px;
        }

        &__decor {
            width: 100%;
            height: 117px;
            bottom: -4px;
            left: unset;
        }

        &__text, li, &__price {
            font-size: 15px;
            line-height: 100%;
        }

        &__title, &__text, &__price, &__level-list {
            padding: 20px;
            margin-top: 0;
        }

        &__lesson-list {
            padding: 30px 0 0;
        }

        &__pin {
            left: 50%;
            transform: translate(-70%, -50%);
            top: 0;
        }

        &__link a {
            font-size: 18px;
            line-height: 27px;
        }

        &__thread {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__box-one,
        &__box-two {
            max-width: 530px;
            width: 100%;
        }

        &__title {
            font-size: 20px;
            line-height: 20px;
        }

        &__thread img, &__thread-two img {
            width: 270px;
        }
    }

    .feedback {

        &__image {
            display: none;
        }
    }

    .footer {

        &__container {
            flex-direction: column;
        }

        &__logo img {
            margin: 30px 0 10px;
        }

        &__box:nth-child(2) {
            text-align: center;
        }

        &__nav {
            display: none;
        }

        
    }

    .form {
        width: 100%;

        &__input {
            height: 50px;
            font-size: 15px;

            &::placeholder {
                font-size: inherit;
            }
        }

        &__laptop {
            margin-bottom: 40px;
        }

        &__laptop-title {
            font-size: 25px;
            line-height: 31px;
        }

        &__laptop-text {
            font-size: 15px;
            line-height: 20px;
        }

        &__container {
            flex-direction: column;
            border-radius: 0;
            padding: 40px 20px 0 20px;
        }

        &__laptop-img {
            display: none;
        }

        &__laptop-img-adaptive {
            display: block;

            img {
                max-width: 100%;
            }
        }

        &__label {
            font-size: 15px;
        }

        &__btn {
            margin-top: 20px;
        }
    }

    .footer {
        margin-top: 0;
    }
}

//main {
//    section:not(.form) {
//        display: none;
//    }
//}