@media screen and (max-width: 1400px) {

  .final {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1024px) {

  .final  {
    margin: 0;

    .container {
      flex-direction: column-reverse;
      border: none;
      margin: 115px 0 50px;
      max-height: 700px;
      text-align: center;
      padding: 0;
    }

    .img {
      margin-top: 40px;
      bottom: unset;
    }

    .img img {
      width: 430px;
      height: 400px;
    }

    .text {
      margin: 20px 0 40px 0;
    }

    .btn {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px) {

  .final {

    .title {
      font-size: 20px;
      line-height: 30px;
    }

    .text {
      font-size: 15px;
      line-height: 20px;
    }

    .img img {
      width: 280px;
      height: 265px;
    }
  }
}