@import "variables";

@media screen and (max-width: 1400px) {

    main section:not(.form, .banner) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        padding: 0 20px;
    }

    .easy {

        &__girl {
            top: 115px;
            left: -15px;
            margin-right: 0;
        }

        &__girl img {
            width: 370px;
        }

        &__content {
            max-width: 600px;
        }
    }

    .banner {

        &__container {
            background-size: 600px;
        }

        &__text {
            max-width: 420px;
            font-size: 26px;
            top: 50px;
            left: 333px;
        }

        &__img {
            top: 76px;
            left: 80px;
        }

        &__img img {
            width: 180px;
        }
    }

    .heart {

        &__container {
            position: unset;
        }
    }
    // TODO: CAROUSEL
    .feedback {
        display: none;

        &__image-bg svg  {
            height: 400px;
        }
    }

    .form {
        max-width: 980px;

        &__laptop-img {
            bottom: -13.5px;
        }

        &__laptop-img img {
            width: 500px;
        }

        &__title {
            font-size: 38px;
        }
    }

    .footer {
        padding: 0 20px;
    }

}

@media screen and (max-width: 1285px) {
    .background__girl {
        display: none;
    }

    .background__content {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {

    main section:not(.form, .banner) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {

        &__nav-link {
             font-size: 14px;
            margin-right: 15px;
        }

        &__nav-img {
            right: -3px;
        }

        &__logo {
            width: 200px;
            margin-right: 20px;
        }

        &__btn {
            width: 140px;
        }

        &__btn-text {
            font-size: 14px;
        }

        .logo {
            width: 37px;
            height: 37px;
        }
    }

    .banner {
        height: 80px;

        &__container {
            width: 80%;
            height: 80px;
            background-size: 490px;
        }

        &__text {
            font-size: 18px;
            line-height: 20px;
            left: 190px;
            top: 23px;
            max-width: 300px;
        }

        &__img img {
            width: 66px;
            height: 14px;
        }

        &__img {
            left: 55px;
            top: 30px;
        }
    }

    .price {

        &__title {
            font-size: 28px;
            padding: 30px 0;
        }

        &__link {
            padding: 20px 0;
        }

        &__link a {
            font-size: 22px;
        }
    }

    .stairway {

        &__arrow img {
            display: none;
        }

        div.stairway__arrow {
            display: none;
        }

         &__arrow {
            display: none;
        }

        &__title {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }

        &__item {
            margin-bottom: 40px;
        }

        &__items, &__items-two {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }

    .price {

        &__box {
            max-width: 600px;
            margin: 0 auto;
        }

        &__container {
            margin-top: 0;
            flex-direction: column;
            gap: 50px;
        }
    }

    .heart {

        &__title {
            max-width: 340px;
            font-size: 24px;
        }
    }

    .form {
        max-width: 730px;

        &__container {
            flex-direction: column;
            padding: 40px;
        }

        &__elements {
            padding-top: 30px;
            padding-bottom: 0;
        }

        &__textarea {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__textarea:nth-child(3) {
            margin-bottom: 40px;
        }

        &__title {
            font-size: 28px;
        }

        &__laptop {
            width: 100%;
        }

        &__laptop-text {
            margin-top: 10px;
        }

        &__laptop-img {
            display: none;
        }

        &__label {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
        }

        &__btn {
            max-width: 510px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 760px) {

    main section:not(.form, .banner) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner {

        &__container {
            width: 430px;
            height: 100px;
            background-size: 335px;
        }

        &__text {
            font-size: 14px;
            left: 148px;
            top: 35px;
            max-width: 270px;
        }

        &__img {
            top: 41px;
        }

        &__img img {
            height: 14px;
        }
    }


}

@media screen and (max-width: 460px) {

    main section:not(.form, .banner) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        .head {
            height: 55px;
            align-items: center;
            padding-top: 50px;
            color: #fff;
            margin: 0;
        }

        &__logo {
            width: 150px;
            height: 55px;
        }

        &__nav {
            display: none;
        }

        &__btn {
            display: block;
        }
    }

    .background {
        padding: 70px ;

        &__title {
            font-size: 50px;
            line-height: 60px;
            margin-top: 70px;
        }

        &__content {
            width: 100%;
        }

        &__text {
            font-size: 18px;
            line-height: 25px;
            padding: 30px 0 40px;
        }

        &__btn {
            width: 320px;
            height: 50px;
            font-size: 18px;
            line-height: 23px;
            margin: 0 auto;
            display: block;
        }

        &__text-lesson {
            font-size: 12px;
            line-height: 15px;
            padding-top: 10px;
        }

        &__girl-container {
            display: none;
        }

        &__lamp {
            left: 0;
            right: 0;
        }

        &__lamp-container {
            top: 7px;
        }

        &__lamp-container svg {
            width: 80px;
        }

    }

    .easy {

        &__content-title {
            line-height: 45px;
        }

        &__content-text {
            font-size: 18px;
            line-height: 25px;
        }

        &__girl {
            bottom: -105px;
            left: unset;
            margin-right: 0;
            right: 30px;
        }

        &__girl img {
            width: 250px;
            height: 260px;
        }
    }

    .banner {
        height: 80px;

        &__container {
            width: 330px;
            height: 80px;
            background-size: 230px;
        }

        &__text {
            font-size: 12px;
            line-height: 20px;
            left: 120px;
            top: 25px;
            max-width: 190px;
        }

        &__img img {
            width: 66px;
            height: 10px;
        }

        &__img {
            left: 30px;
            top: 30px;
        }

        &__text {
            animation: unset;
            -webkit-animation-play-state: unset;
            animation-play-state: unset;
        }
    }

    .price {

        &__decor {
            width: 100%;
            height: 117px;
            bottom: -4px;
            left: unset;
        }

        &__text, li, &__price {
            font-size: 15px;
            line-height: 100%;
        }

        &__title, &__text, &__price, &__level-list {
            padding: 20px;
            margin-top: 0;
        }

        &__lesson-list {
            padding: 30px 0 0;
        }

        &__pin {
            left: 50%;
            transform: translate(-70%, -50%);
            top: 0;
        }

        &__pin img {
            width: 27px;
            height: 32px;
        }

        &__link a {
            font-size: 18px;
            line-height: 27px;
        }

        &__thread {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__box-one,
        &__box-two {
            max-width: 320px;
            width: 100%;
            margin: 0 auto;
        }

        &__title {
            font-size: 20px;
            line-height: 20px;
        }

        &__thread img, &__thread-two img {
            width: 270px;
        }
    }

    .stairway {

        &__arrow img {
            display: none;
        }

        &__title {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }

        &__item {
            margin-bottom: 40px;
        }
    }

    .heart {
        background-position-x: -15px;
        background-position-y: -5px;
        padding-top: 55px;
        margin-top: 0;

        &__container {
            flex-direction: column;
            position: unset;
        }

        &__image {
            display: none;
        }

        &__title {
            font-size: 25px;
            line-height: 31px;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .feedback {

        &__title {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }

        &__image {
            display: none;
        }

        &__image-bg {
            display: none;
        }
    }


    .form {
        width: 100%;
        margin-top: 100px;

        &__title {
            font-size: 30px;
            line-height: 38px;
            text-align: center;
        }

        &__input {
            height: 50px;
            font-size: 15px;

            &::placeholder {
                font-size: inherit;
            }
        }

        &__laptop {
            margin-bottom: 40px;
            width: unset;
            margin-right: 70px;
        }

        &__laptop-title {
            font-size: 25px;
            line-height: 31px;
        }

        &__laptop-text {
            font-size: 15px;
            line-height: 20px;
        }

        &__container {
            flex-direction: column;
            border-radius: 0;
            padding: 40px 20px 0 20px;
        }

        &__laptop-img {
            display: none;
        }

        &__laptop-img-adaptive {
            display: block;

            img {
                max-width: 100%;
                border-top: 1px solid $main-purple;
                margin-bottom: -11.5px;
            }
        }

        &__elements {
            padding-top: 0;
        }

        &__label {
            font-size: 15px;
        }

        &__btn {
            margin-top: 20px;
        }
    }

    .footer {
        margin-top: 0;

        &__container {
            flex-direction: column;
            margin-bottom: 40px;
        }

        &__logo img {
            margin: 30px 0 10px;
        }

        &__box:nth-child(2) {
            text-align: center;
        }

        &__nav {
            display: none;
        }
    }
}

//main {
//    section:not(.form) {
//        display: none;
//    }
//}

