.footer__tel, .footer__email, .footer__nav-link, .easy__content-text, .background__text-lesson, .header__btn-text, .header__nav-link {
  font-size: 20px;
  line-height: 25px;
}

.footer__container, .form, .feedback, .heart, .stairway, .course__content, .course, .price__container, .price, .easy__container, .background__container, .header .head {
  width: 1190px;
  margin: auto;
}

.price__level-list, .price__price, .price__text {
  font-size: 30px;
  line-height: 38px;
  border-width: 570px;
  border-bottom: 1px solid #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geometria", serif;
  color: rgb(255, 255, 255);
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header .head {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
  padding-top: 66px;
  color: #fff;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-items {
  display: flex;
  flex-direction: row;
}
.header__nav-link {
  margin-right: 25px;
  font-weight: 500;
}
.header__nav-dropdown {
  position: absolute;
  display: none;
}
.header__btn {
  width: 220px;
  height: 55px;
  border: 3px solid #83F4BA;
  border-radius: 25px;
  background: transparent;
}
.header__btn-text {
  font-weight: 500;
}
.header .lang {
  background: #FFFFFF;
  border: 1px solid rgba(159, 159, 159, 0.5);
  border-radius: 30px;
  width: 55px;
  height: 55px;
  margin-left: 8px;
}

.main {
  width: 1190px;
  margin: auto;
  position: relative;
}

.background {
  width: 100%;
  height: 870px;
  background-color: #7A4AE6;
  padding-top: 200px;
  position: relative;
}
.background__container {
  display: flex;
}
.background__content {
  width: 670px;
}
.background__title {
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
}
.background__title span {
  color: #83F4BA;
}
.background__text {
  font-size: 28px;
  line-height: 35px;
  padding: 15px 0 25px;
}
.background__btn {
  width: 625px;
  height: 70px;
  background: #83F4BA;
  box-shadow: 7px 8px 30px rgba(131, 244, 186, 0.5);
  border-radius: 50px;
  border: none;
}
.background__btn-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #473C4B;
}
.background__text-lesson {
  color: #D9D9D9;
  padding-top: 20px;
}
.background__girl {
  position: absolute;
  right: 80px;
  top: 118px;
}

.easy {
  color: #473C4B;
}
.easy__container {
  height: 570px;
  display: flex;
  position: relative;
}
.easy__girl {
  bottom: 3px;
  left: -100px;
  position: absolute;
  margin-right: 50px;
}
.easy__content {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -130px;
  width: 725px;
  height: 280px;
}
.easy__content-title {
  font-style: italic;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #7A4AE6;
  padding-bottom: 20px;
}
.easy__content-text {
  color: #473C4B;
}

.banner {
  height: 180px;
  margin: 115px 0;
  position: relative;
}
.banner__container {
  width: 1300px;
  height: 180px;
  position: absolute;
  right: 0;
  z-index: 20;
  background-color: #83F4BA;
  background-image: url(../img/pencil-border.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right center;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 4% 51%, 0% 0%);
          clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 4% 51%, 0% 0%);
}
.banner__img {
  position: absolute;
  left: 110px;
  top: 68px;
}

.price {
  color: #000;
  position: relative;
}
.price__decor {
  position: relative;
  height: 0;
  bottom: 283px;
  left: 25px;
}
.price__pin, .price__thread, .price__pin-two, .price__thread-two, .price__boom {
  position: absolute;
}
.price__pin {
  left: 210px;
  top: 30px;
  z-index: 50;
}
.price__thread {
  top: 67px;
}
.price__pin-two {
  top: 30px;
  left: 210px;
  z-index: 50;
}
.price__thread-two {
  top: 68px;
}
.price__boom {
  left: 430px;
  top: 205px;
}
.price__container {
  height: 1020px;
  margin-top: 500px;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 50;
}
.price__box-one {
  position: relative;
  bottom: 100px;
}
.price__box-one, .price__box-two {
  width: 570px;
  height: 930px;
  border: 1px solid #000;
  border-radius: 30px;
}
.price__box-content {
  width: 495px;
  margin: auto;
}
.price__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 50px 0;
}
.price__title span {
  color: #7A4AE6;
  font-weight: 600;
}
.price__text {
  margin-top: 50px;
}
.price__lesson-list li {
  padding-left: 5px;
  list-style-type: "-";
  font-size: 30px;
  line-height: 38px;
}
.price__lesson-list {
  padding: 15px 0 50px;
}
.price__price {
  text-align: center;
  padding: 90px 0;
}
.price__level-list {
  padding: 33px 0;
  text-align: center;
}
.price__link {
  padding: 30px 0;
  text-align: center;
  background: #83F4BA;
}
.price__link a {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #7A4AE6;
}

.course__container {
  position: relative;
}
.course__content {
  background-image: url(../img/carousel.png);
  background-repeat: no-repeat;
  height: 410px;
  padding: 50px;
}
.course__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
}
.course__text,
.course p {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
}
.course p {
  padding-top: 40px;
}

.stairway__title {
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #473C4B;
  margin: 120px 0 80px;
}
.stairway__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stairway__item {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stairway__text {
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #473C4B;
  white-space: pre-wrap;
}
.stairway__books {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}
.stairway__arrow {
  margin-top: 80px;
}
.stairway__comments {
  background-image: url(../img/comments_bg.png);
  background-repeat: no-repeat;
}
.stairway__patent {
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
}
.stairway__text {
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #473C4B;
}
.stairway__papers {
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
}
.stairway__textbook {
  background-image: url(../img/bg5.png);
  background-repeat: no-repeat;
}
.stairway__items-two {
  display: flex;
  justify-content: space-around;
  padding: 0 130px;
}
.stairway__item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background-size: contain;
  background-position: center;
}

.heart {
  position: relative;
  height: 315px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  margin-top: 200px;
}
.heart__container {
  position: absolute;
  right: 0;
  width: 970px;
  display: flex;
  align-items: center;
}
.heart__title {
  width: 455px;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  background-repeat: no-repeat;
}
.heart__btn {
  width: 366px;
  height: 71px;
  background: #83F4BA;
  box-shadow: 0 7px 20px rgba(131, 244, 186, 0.5);
  border-radius: 40px;
  border: none;
}
.heart__btn a {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #7A4AE6;
}

.feedback {
  margin-top: 120px;
}
.feedback__container {
  position: relative;
}
.feedback__title {
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #473C4B;
  text-align: right;
  margin-bottom: 90px;
}
.feedback__image-boxes {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.feedback__image-box {
  display: flex;
  gap: 20px;
}
.feedback__image-seven {
  position: absolute;
  left: 365px;
  bottom: 30px;
}
.feedback__image-bg {
  position: absolute;
  right: -100px;
  top: 360px;
}

.form {
  margin-top: 220px;
}
.form__title {
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #473C4B;
}
.form__container {
  height: 640px;
  display: flex;
  background: #7A4AE6;
  border-radius: 30px;
  padding: 50px 50px 0 50px;
  position: relative;
  margin-top: 60px;
}
.form__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.form__laptop-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.form__laptop-text {
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 25px;
}
.form__laptop-img {
  position: absolute;
  left: -30px;
  top: 227px;
}
.form__label {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
.form__input {
  width: 511px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 20px 30px;
  border: none;
  margin-top: 10px;
  font-size: 20px;
}
.form__input::-moz-placeholder {
  font-size: 20px;
  line-height: 25px;
  color: rgba(46, 53, 58, 0.3);
}
.form__input:-ms-input-placeholder {
  font-size: 20px;
  line-height: 25px;
  color: rgba(46, 53, 58, 0.3);
}
.form__input::placeholder {
  font-size: 20px;
  line-height: 25px;
  color: rgba(46, 53, 58, 0.3);
}
.form__input:focus {
  border: none;
}
.form__btn {
  height: 65px;
  border: 3px solid #83F4BA;
  filter: drop-shadow(7px 8px 30px rgba(131, 244, 186, 0.5));
  border-radius: 50px;
  background-color: transparent;
}
.form__btn a {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
}

.footer {
  margin-top: 100px;
  height: 200px;
  background-color: #83F4BA;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__box:nth-child(2) {
  text-align: right;
}
.footer__nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer__nav-items {
  display: flex;
  flex-direction: row;
}
.footer__nav-link {
  margin-right: 25px;
  font-weight: 500;
  color: #000;
}
.footer__box-image img {
  margin-left: 15px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.footer__tel, .footer__email {
  font-weight: 500;
  text-decoration: underline;
  color: #000000;
}/*# sourceMappingURL=styles.css.map */