.footer__tel, .footer__email, .footer__nav-link, .background__text-lesson, .header__btn-text, .header__nav-dropdown h2, .header__nav-link {
  font-size: 20px;
  line-height: 25px;
}

.footer__container, .form, .feedback, .heart, .stairway, .course__content, .course, .price__container, .price, .easy__container, .background__container, .main, .header .head {
  width: 100%;
  max-width: 1190px;
  margin: auto;
}

.price__level-list, .price__price, .price__text {
  font-size: 30px;
  line-height: 38px;
  border-width: 570px;
  border-bottom: 1px solid #000;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header .head {
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
  padding-top: 66px;
  color: #fff;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-items {
  display: flex;
  flex-direction: row;
}
.header__nav-item {
  position: relative;
}
.header__nav-item:hover .header__nav-dropdown {
  display: block;
  background: #ffffff;
}
.header__nav-link {
  margin-right: 25px;
  font-weight: 500;
}
.header__nav-img {
  position: absolute;
  top: 4px;
  right: 7px;
}
.header__nav-dropdown {
  position: absolute;
  left: 50%;
  margin-left: -120px;
  display: none;
  padding: 40px;
  margin-top: 38px;
  border-radius: 20px;
}
.header__nav-dropdown-tel {
  margin-bottom: 30px;
}
.header__nav-dropdown h2 {
  color: #7A4AE6;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 40px;
}
.header__nav-dropdown-img, .header__nav-dropdown-arrow {
  position: absolute;
}
.header__nav-dropdown-arrow {
  top: -22px;
  left: 135px;
}
.header__nav-dropdown-arrow img {
  width: 60px;
  height: 35px;
}
.header__nav-dropdown-link {
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
}
.header__nav-dropdown-contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header__btn {
  width: 220px;
  height: 55px;
  border: 3px solid #83F4BA;
  border-radius: 25px;
  background: transparent;
  transition: 0.5s;
  margin-left: 12px;
}
.header__btn:hover {
  background-color: #83F4BA;
}
.header__btn-text {
  font-weight: 500;
}
.header .lang {
  background: #FFFFFF;
  border: 1px solid rgba(159, 159, 159, 0.5);
  border-radius: 30px;
  width: 55px;
  height: 55px;
  margin-left: 8px;
}

.contact-link {
  transition: 0.5s;
}

.contact-link:hover {
  color: #7A4AE6;
}

.main {
  position: relative;
}

.background {
  width: 100%;
  background-color: #7A4AE6;
  padding: 200px 0 180px;
  position: relative;
}
.background__container {
  display: flex;
}
.background__content {
  width: 670px;
}
.background__title {
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
}
.background__title span {
  color: #83F4BA;
}
.background__text {
  font-size: 28px;
  line-height: 35px;
  padding: 15px 0 25px;
}
.background__btn {
  width: 625px;
  height: 70px;
  background: #83F4BA;
  box-shadow: 7px 8px 30px rgba(131, 244, 186, 0.5);
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #473C4B;
}
.background__btn:hover {
  border: 2px solid #000;
}
.background__text-lesson {
  color: #D9D9D9;
  padding-top: 20px;
}
.background__girl {
  position: absolute;
  right: 80px;
  top: 118px;
  z-index: 2;
  transition: 0.5s;
}
.background__girl-container {
  position: relative;
}
.background__girl .hello-image {
  position: absolute;
  top: 36%;
  right: 90px;
  opacity: 0;
  transition: 0.5s;
}
.background__girl:hover .hello-image {
  opacity: 1;
}
.background__lamp {
  position: absolute;
  width: 100%;
  right: 100px;
  display: flex;
  justify-content: flex-end;
}
.background__lamp-container {
  position: relative;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 387px;
  width: 100%;
}
.background__lamp-container svg {
  width: 150px;
}
.background .background__lamp-container:hover .lamp-light {
  animation-play-state: running;
}
.background .background__lamp-container:hover .lamp {
  animation-play-state: running;
}
.background .lamp {
  animation: lamp 0.5s forwards;
  fill: #fff;
  animation-play-state: paused;
}
.background .lamp-light {
  animation: lampLight 0.5s forwards;
  animation-play-state: paused;
  background-color: rgba(122, 74, 230, 0.43);
  clip-path: polygon(50% 0, 10% 100%, 90% 100%);
  height: 100%;
}
.background .lamp-light-container {
  top: 226px;
  position: absolute;
  height: 100%;
  padding: 20px;
  width: 100%;
  filter: blur(70px);
  max-width: 570px;
  max-height: 387px;
}

.easy {
  color: #473C4B;
}
.easy__container {
  height: 570px;
  display: flex;
  position: relative;
}
.easy__girl {
  bottom: 3px;
  left: -100px;
  position: absolute;
  margin-right: 50px;
}
.easy__content {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -130px;
  max-width: 715px;
}
.easy__content-title {
  font-style: italic;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #7A4AE6;
  padding-bottom: 20px;
}
.easy__content-text {
  color: #473C4B;
  font-size: 30px;
  line-height: 38px;
}

.banner {
  height: 180px;
  margin: 115px 0;
  position: relative;
  transition: 0.5s;
}
.banner:hover .banner__text {
  animation-play-state: running;
}
.banner__container {
  max-width: 1300px;
  width: 80%;
  height: 180px;
  position: absolute;
  right: 0;
  z-index: 20;
  background-color: #83F4BA;
  background-image: url(../img/pencil-border.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right center;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 4% 51%, 0% 0%);
  transition: 0.5s;
}
.banner__img {
  position: absolute;
  left: 110px;
  top: 68px;
}
.banner__text {
  animation: opacityAnimation 0.5s forwards;
  animation-play-state: paused;
  max-width: 620px;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #473C4B;
  position: relative;
  top: 45px;
  left: 415px;
}

.price {
  color: #000;
  position: relative;
}
.price__decor {
  position: relative;
  height: 0;
  bottom: 283px;
  left: 25px;
}
.price__pin, .price__thread {
  position: absolute;
}
.price__pin {
  left: 210px;
  top: 30px;
  z-index: 50;
}
.price__thread {
  top: 69px;
}
.price__container {
  margin-bottom: 80px;
  margin-top: 500px;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 50;
}
.price__box-one {
  position: relative;
  bottom: 100px;
}
.price__box-one, .price__box-two {
  max-width: 570px;
  width: 100%;
}
.price__box-content {
  width: 100%;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 30px;
}
.price__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 50px 0;
}
.price__title span {
  color: #7A4AE6;
  font-weight: 600;
}
.price__text {
  margin-top: 50px;
  padding: 0 40px;
}
.price__lesson-list li {
  padding-left: 5px;
  list-style-type: "-";
  font-size: 30px;
  line-height: 38px;
}
.price__lesson-list {
  padding: 15px 0 50px;
}
.price__price {
  text-align: center;
  padding: 90px 40px;
}
.price__level-list {
  padding: 33px 0;
  text-align: center;
}
.price__link {
  padding: 30px 0;
  text-align: center;
  background: #83F4BA;
  transition: 0.5s;
}
.price__link:hover {
  background-color: transparent;
}
.price__link:hover a {
  color: #000;
}
.price__link a {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #7A4AE6;
  transition: 0.5s;
}

.course__container {
  position: relative;
}
.course__content {
  background-image: url(../img/carousel.png);
  background-repeat: no-repeat;
  padding: 50px;
}
.course__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
}
.course__text,
.course p {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
}
.course p {
  padding-top: 40px;
}

.stairway__title {
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #473C4B;
  margin: 120px 0 80px;
}
.stairway__items, .stairway__items-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stairway__item {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stairway__text {
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #473C4B;
  white-space: pre-wrap;
}
.stairway__books {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}
.stairway__arrow {
  margin-top: 80px;
}
.stairway__comments {
  background-image: url(../img/comments_bg.png);
  background-repeat: no-repeat;
}
.stairway__patent {
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
}
.stairway__text {
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #473C4B;
}
.stairway__papers {
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
}
.stairway__textbook {
  background-image: url(../img/bg5.png);
  background-repeat: no-repeat;
}
.stairway__items-two {
  padding: 0 130px;
}
.stairway__item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background-size: contain;
  background-position: center;
}

.heart {
  position: relative;
  height: 200px;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 150px;
  background-position-y: -15px;
  margin-top: 200px;
}
.heart__container {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 970px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heart__image {
  position: absolute;
  left: 45%;
  top: 27px;
}
.heart__title {
  max-width: 455px;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  background-repeat: no-repeat;
}
.heart__btn {
  width: 100%;
  max-width: 366px;
  height: 71px;
  background: #83F4BA;
  box-shadow: 0 7px 20px rgba(131, 244, 186, 0.5);
  border-radius: 40px;
  border: 2px solid transparent;
  transition: 0.5s;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  color: #7A4AE6;
  cursor: pointer;
}
.heart__btn:hover {
  background-color: transparent;
  border: 2px solid #7A4AE6;
}

.feedback {
  margin-top: 120px;
}
.feedback__container {
  position: relative;
}
.feedback__title {
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #473C4B;
  text-align: right;
  margin-bottom: 90px;
}
.feedback__image-boxes {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.feedback__image-box {
  display: flex;
  gap: 20px;
}
.feedback__image-seven {
  position: absolute;
  left: 365px;
  bottom: 30px;
}
.feedback__image-bg {
  position: absolute;
  right: -100px;
  top: 360px;
}
.feedback__image-bg svg {
  width: 690px;
  height: 591px;
}
.feedback__image-bg:hover .thumb {
  animation-play-state: running;
}
.feedback__image {
  transition: 0.5s;
  outline: 2px solid #7A4AE6;
  border-radius: 18px;
  height: max-content;
}
.feedback__image:hover {
  outline: 2px solid #83F4BA;
}

.form {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__title {
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 57px;
  color: #473C4B;
}
.form__laptop {
  width: 50%;
  margin-right: 70px;
}
.form__container {
  height: 100%;
  display: flex;
  background: #7A4AE6;
  border-radius: 30px;
  padding: 50px 50px 0 50px;
  position: relative;
  margin-top: 60px;
}
.form__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 90px;
  padding-top: 58px;
}
.form__laptop-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.form__laptop-text {
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 25px;
}
.form__laptop-img {
  position: absolute;
  left: -30px;
  bottom: -15.5px;
}
.form__laptop-img-adaptive {
  display: none;
  background-color: #7A4AE6;
}
.form__label {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  max-width: 510px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 20px 30px;
  border: none;
  margin-top: 10px;
  font-size: 20px;
}
.form__input::placeholder {
  font-size: 20px;
  line-height: 25px;
  color: rgba(46, 53, 58, 0.3);
}
.form__input:focus {
  outline: none;
}
.form__btn {
  height: 65px;
  border: 3px solid #83F4BA;
  filter: drop-shadow(7px 8px 30px rgba(131, 244, 186, 0.5));
  border-radius: 50px;
  background-color: transparent;
  transition: 0.5s;
  margin-top: 30px;
}
.form__btn:hover {
  background-color: #83F4BA;
}
.form__btn a {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
}

.footer {
  margin-top: 100px;
  height: 200px;
  background-color: #83F4BA;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__box:nth-child(2) {
  text-align: right;
}
.footer__nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer__nav-items {
  display: flex;
  flex-direction: row;
}
.footer__nav-link {
  margin-right: 25px;
  font-weight: 500;
  color: #000;
}
.footer__box-image img {
  margin-left: 15px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.footer__tel, .footer__email {
  font-weight: 500;
  text-decoration: underline;
  color: #000000;
}

.copyright {
  border-top: 1px solid #A8F7CF;
  background: #83F4BA;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

@keyframes lampLight {
  from {
    background-color: rgba(122, 74, 230, 0.43);
  }
  to {
    background-color: rgb(122, 74, 230);
  }
}
@keyframes lamp {
  from {
    fill: #fff;
  }
  to {
    fill: rgb(122, 74, 230);
  }
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.feedback__image-bg:hover .thumb,
.feedback__image-bg:hover .star,
.feedback__image-bg:hover .comment,
.feedback__image-bg:hover .heart-comment,
.feedback__image-bg:hover .heart {
  animation-play-state: running;
}

.comment {
  animation: comment 0.5s forwards;
  animation-play-state: paused;
}

.thumb {
  animation: thumb 0.5s forwards;
  animation-play-state: paused;
}

.thumb-one {
  animation: thumb-one 0.5s forwards;
  animation-play-state: paused;
}

.thumb-two {
  animation: thumb-two 0.5s forwards;
  animation-play-state: paused;
}

.thumb-three {
  animation: thumb-three 0.5s forwards;
  animation-play-state: paused;
}

.thumb-four {
  animation: thumb-four 0.5s forwards;
  animation-play-state: paused;
}

.thumb-five {
  animation: thumb-five 0.5s forwards;
  animation-play-state: paused;
}

.heart {
  animation: heart 0.5s forwards;
  animation-play-state: paused;
}

.star {
  animation: star 0.5s forwards;
  animation-play-state: paused;
}

@keyframes star {
  from {
    fill: transparent;
  }
  to {
    fill: #7A4AE6;
    opacity: 0.7;
  }
}
@keyframes heart {
  from {
    fill: #7A4AE6;
  }
  to {
    fill: #ff0000;
  }
}
@keyframes thumb {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes thumb-one {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, 40px) scale(1.2);
  }
}
@keyframes thumb-two {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(40px, -30px) scale(1.1);
  }
}
@keyframes thumb-three {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50px, 40px);
  }
}
@keyframes thumb-four {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-40px, -20px);
  }
}
@keyframes thumb-five {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-55px, 20px);
  }
}
.heart-comment {
  animation: commentScale 0.5s forwards;
  animation-play-state: paused;
}

@keyframes commentScale {
  to {
    transform: scale(1.3) translate(-12%, -9%);
  }
}

/*# sourceMappingURL=styles.css.map */
