%text-style {
    font-size: 20px;
    line-height: 25px;
}

%width {
    width: 1190px;
    margin: auto;
}

%border {
    font-size: 30px;
    line-height: 38px;
    border-width: 570px;
    border-bottom: 1px solid #000;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geometria', serif;
    color: rgb(255, 255, 255);
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.header {
    position: absolute;
    z-index: 10;
    width: 100%;

    .head {
        display: flex;
        justify-content: space-between;
        height: 95px;
        align-items: center;
        padding-top: 66px;
        color: #fff;
        @extend%width
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__nav-items {
        display: flex;
        flex-direction: row;
    }

    &__nav-item {
        position: relative;
    }

    &__nav-item:hover &__nav-dropdown {
        display: block;
        background: #ffffff;
    }

    &__nav-link {
        margin-right: 25px;
        font-weight: 500;
        @extend%text-style;
    }

    &__nav-img {
        position: absolute;
        top: 4px;
        right: 7px;
    }

    &__nav-dropdown {
        position: absolute;
        left: 50%;
        margin-left: -120px;
        display: none;
        padding: 40px;
        margin-top: 38px;
        border-radius: 20px;
    }

    &__nav-dropdown-tel {
        margin-bottom: 30px;
    }

    &__nav-dropdown h2 {
        color: #7A4AE6;
        font-weight: 500;
        margin-bottom: 15px;
        padding-left: 40px;
        @extend%text-style;
    }

    &__nav-dropdown-img, &__nav-dropdown-arrow {
        position: absolute;
    }

    &__nav-dropdown-arrow {
        top: -22px;
        left: 135px;
    }

    &__nav-dropdown-arrow img {
        width: 60px;
        height: 35px;
    }

    &__nav-dropdown-link {
        font-size: 18px;
        line-height: 23px;
        text-decoration-line: underline;
        color: #000000;
    }

    &__nav-dropdown-contacts {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__btn {
        width: 220px;
        height: 55px;
        border: 3px solid #83F4BA;
        border-radius: 25px;
        background: transparent;
        transition: .5s;
        margin-left: 12px;
    }

    &__btn:hover {
        background-color: #83F4BA;
    }

    &__btn-text {
        font-weight: 500;
        @extend%text-style;
    }

    .lang {
        background: #FFFFFF;
        border: 1px solid rgba(159, 159, 159, 0.5);
        border-radius: 30px;
        width: 55px;
        height: 55px;
        margin-left: 8px;
    }
}

.main {
    width: 1190px;
    margin: auto;
    position: relative;
}

.background {
    width: 100%;
    height: 870px;
    background-color: #7A4AE6;
    padding-top: 200px;
    position: relative;

    &__container {
        display: flex;
        @extend%width;
    }

    &__content {
        width: 670px;
    }

    &__title {
        font-style: italic;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
    }

    &__title span {
        color: #83F4BA;
    }

    &__text {
        font-size: 28px;
        line-height: 35px;
        padding: 15px 0 25px;
    }

    &__btn {
        width: 625px;
        height: 70px;
        background: #83F4BA;
        box-shadow: 7px 8px 30px rgba(131, 244, 186, 0.5);
        border-radius: 50px;
        border: 2px solid transparent;
        transition: .5s;
        cursor: pointer;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        color: #473C4B;
    }

    &__btn:hover {
        border: 2px solid #000;
    }

    &__text-lesson {
        color: #D9D9D9;
        padding-top: 20px;
        @extend%text-style;
    }

    &__girl {
        position: absolute;
        right: 80px;
        top: 118px;
        z-index: 2;
        transition: .5s;

        &-container {
            position: relative;
        }
    }

    &__girl .hello-image {
        position: absolute;
        top: 36%;
        right: 90px;
        opacity: 0;
        transition: 0.5s;
    }

    &__girl:hover .hello-image {
        opacity: 1;
    }


    &__lamp {
        position: absolute;
        width: 100%;
        right: 100px;
        display: flex;
        justify-content: flex-end;

        &-container {
            position: relative;
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 387px;
            width: 100%;
        }
    }

    .background__lamp-container:hover .lamp-light {
        animation-play-state: running;
    }

    .lamp-light {
        animation: lampLight 0.5s forwards;
        animation-play-state: paused;
        background-color: rgba(122, 74, 230, 0.43);
        clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        height: 100%;

        &-container {
            top: 226px;
            position: absolute;
            height: 100%;
            padding: 20px;
            width: 100%;
            filter: blur(50px);
            max-width: 570px;
            max-height: 387px;
        }
    }
}

.easy {
    color: #473C4B;

    &__container {
        height: 570px;
        display: flex;
        position: relative;
        @extend%width
    }

    &__girl {
        bottom: 3px;
        left: -100px;
        position: absolute;
        margin-right: 50px;
    }

    &__content {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -130px;
        width: 725px;
        height: 280px;
    }

    &__content-title {
        font-style: italic;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        color: #7A4AE6;
        padding-bottom: 20px;
    }

    &__content-text {
        color: #473C4B;
        @extend%text-style
    }
}

.banner {
    height: 180px;
    margin: 115px 0;
    position: relative;
    transition: .5s;
    
    &:hover &__text {
        animation-play-state: running;
    }

    &__container {
        width: 1300px;
        height: 180px;
        position: absolute;
        right: 0;
        z-index: 20;
        background-color: #83F4BA;
        background-image: url(../img/pencil-border.png);
        background-repeat: no-repeat;
        background-size: 1000px;
        background-position: right center;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 4% 51%, 0% 0%);
        transition: .5s;
    }

    &__img {
        position: absolute;
        left: 110px;
        top: 68px;
    }

    &__text {
        animation: opacityAnimation 0.5s forwards;
        animation-play-state: paused;
        max-width: 620px;
        font-style: italic;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #473C4B;
        position: relative;
        top: 46px;
        left: 415px;
    }
}

.price {
    color: #000;
    position: relative;
    @extend%width;

    &__decor {
        position: relative;
        height: 0;
        bottom: 283px;
        left: 25px;
    }

    &__pin,
    &__thread,
    &__pin-two,
    &__thread-two {
        position: absolute;
    }

    &__pin {
        left: 210px;
        top: 30px;
        z-index: 50;
    }

    &__thread {
        top: 67px;
    }

    &__pin-two {
        top: 30px;
        left: 210px;
        z-index: 50;
    }

    &__thread-two {
        top: 68px;
    }

    &__container {
        height: 1020px;
        margin-top: 500px;
        display: flex;
        gap: 40px;
        position: relative;
        z-index: 50;
        @extend%width
    }

    &__box-one {
        position: relative;
        bottom: 100px;
    }

    &__box-one,
    &__box-two {
        max-width: 570px;
        width: 100%;
    }

    &__box-content {
        width: 100%;
        overflow: hidden;
        border: 1px solid #000;
        border-radius: 30px;
    }

    &__title {
        font-weight: 500;
        font-size: 35px;
        line-height: 44px;
        text-align: center;
        border-bottom: 1px solid #000;
        padding: 50px 0;
    }

    &__title span {
        color: #7A4AE6;
        font-weight: 600;
    }

    &__text {
        margin-top: 50px;
        padding: 0 40px;
        @extend%border
    }

    &__lesson-list li {
        padding-left: 5px;
        list-style-type: "-";
        font-size: 30px;
        line-height: 38px;
    }

    &__lesson-list {
        padding: 15px 0 50px;
    }

    &__price {
        text-align: center;
        padding: 90px 40px;
        @extend%border
    }

    &__level-list {
        padding: 33px 0;
        text-align: center;
        @extend%border
    }

    &__link {
        padding: 30px 0;
        text-align: center;
        background: #83F4BA;
        transition: .5s;
    }

    &__link:hover {
        background-color: transparent;
    }

    &__link:hover a {
        color: #000;
    }

    &__link a {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #7A4AE6;
        transition: .5s;
    }
}


.course {
    @extend%width;

    &__container {
        position: relative;
    }

    &__content {
        background-image: url(../img/carousel.png);
        background-repeat: no-repeat;
        height: 410px;
        padding: 50px;
        @extend%width;
    }

    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 44px;
    }

    &__text,
    p {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
    }

    p {
        padding-top: 40px;
    }
}

.stairway {
    @extend%width;

    &__title {
        font-style: italic;
        font-weight: 700;
        font-size: 45px;
        line-height: 57px;
        color: #473C4B;
        margin: 120px 0 80px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-size: 25px;
        line-height: 31px;
        text-align: center;
        color: #473C4B;
        white-space: pre-wrap;
    }

    &__books {
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
    }

    &__arrow {
        margin-top: 80px;
    }

    &__comments {
        background-image: url(../img/comments_bg.png);
        background-repeat: no-repeat;
    }

    &__patent {
        background-image: url(../img/bg3.png);
        background-repeat: no-repeat;
    }

    &__text {
        font-size: 25px;
        line-height: 31px;
        text-align: center;
        color: #473C4B;
    }

    &__papers {
        background-image: url(../img/bg4.png);
        background-repeat: no-repeat;
    }

    &__textbook {
        background-image: url(../img/bg5.png);
        background-repeat: no-repeat;
    }

    &__items-two {
        display: flex;
        justify-content: space-around;
        padding: 0 130px;
    }
    
    &__item > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        background-size: contain;
        background-position: center;
    }
}


.heart {
    position: relative;
    height: 200px;
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 150px;
    background-position-y: -15px;
    margin-top: 200px;

    @extend%width;

    &__container {
        position: absolute;
        right: 0;
        width: 970px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        position: absolute;
        left: 45%;
        top: 30px;
    }

    &__title {
        width: 455px;
        font-style: italic;
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
        color: #000000;
        background-repeat: no-repeat;
    }

    &__btn {
        width: 366px;
        height: 71px;
        background: #83F4BA;
        box-shadow: 0 7px 20px rgba(131, 244, 186, 0.5);
        border-radius: 40px;
        border: 2px solid transparent;
        transition: .5s;
        font-weight: 700;
        font-size: 25px;
        line-height: 31px;
        color: #7A4AE6;
        cursor: pointer;
    }

    &__btn:hover {
        background-color: transparent;
        border: 2px solid #7A4AE6;
    }
}

.feedback {
    margin-top: 120px;
    @extend%width;

    &__container {
        position: relative;
    }

    &__title {
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
    line-height: 57px;
    color: #473C4B;
    text-align: right;
    margin-bottom: 90px;
    }

    &__image-boxes {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    &__image-box {
        display: flex;
        gap: 20px;
    }

    &__image-seven {
        position: absolute;
        left: 365px;
        bottom: 30px;
    }

    &__image-bg {
        position: absolute;
        right: -100px;
        top: 360px;
    }

    &__image {
        transition: .5s;
        outline: 2px solid #7a4ae6;
        border-radius: 18px;
    }

    &__image:hover {
        outline: 2px solid #83F4BA;
    }
}

.form {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend%width;

    &__title {
        font-style: italic;
        font-weight: 700;
        font-size: 45px;
        line-height: 57px;
        color: #473C4B;
    }

    &__container {
        height: 640px;
        display: flex;
        background: #7A4AE6;
        border-radius: 30px;
        padding: 50px 50px 0 50px;
        position: relative;
        margin-top: 60px;
    }

    &__elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    &__laptop-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px
    }

    &__laptop-text {
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        margin-top: 25px;
    }

    &__laptop-img {
        position: absolute;
        left: -30px;
        top: 227px;
    }

    &__label {
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 10px;
    }

    &__input {
        width: 511px;
        height: 65px;
        background: #FFFFFF;
        border-radius: 50px;
        padding: 20px 30px;
        border: none;
        margin-top: 10px;
        font-size: 20px;
    }

    &__input::placeholder {
        font-size: 20px;
        line-height: 25px;
        color: rgba(46, 53, 58, 0.3);
    }

    &__input:focus {
        border: none;
    }

    &__btn {
        height: 65px;
        border: 3px solid #83F4BA;
        filter: drop-shadow(7px 8px 30px rgba(131, 244, 186, 0.5));
        border-radius: 50px;
        background-color: transparent;
        transition: .5s;
    }

    &__btn:hover {
        background-color: #83F4BA;
    }

    &__btn a {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
    }
}

.footer {
    margin-top: 100px;
    height: 200px;
    background-color: #83F4BA;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%; 
        @extend%width;
    }

    &__box:nth-child(2) {
        text-align: right;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    &__nav-items {
        display: flex;
        flex-direction: row;
    }

    &__nav-link {
        margin-right: 25px;
        font-weight: 500;
        color: #000;
        @extend%text-style
    }

    &__box-image img {
        margin-left: 15px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    &__tel, &__email {
        font-weight: 500;
        text-decoration: underline;
        color: #000000;
        @extend%text-style;
    }
}

.copyright {
    border-top: 1px solid #A8F7CF;
    background: #83F4BA;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

@keyframes lampLight {
    from {
        background-color: rgba(122, 74, 230, 0.43);
    }

    to {
        background-color: rgba(122, 74, 230, 1);
    }
}

@keyframes opacityAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}