@import "variables";

%text-style {
    font-size: 20px;
    line-height: 25px;
}
  
%width {
    width: 100%;
    max-width: 1190px;
    margin: auto;
}

.listening {
    color: #000;
    margin: 40px 0 80px 0;
  
    &__container {
      height: 100%;
      max-height: 580px;
      @extend %width;
      border: 1px solid #000;
      border-radius: 5px;
      position: relative;
      padding: 60px 110px;
    }

    &__text {
        font-weight: 500;
        font-size: 25px;
        line-height: 40px;
        color: $main-brown;
        margin-bottom: 60px;
    }

    &__video {
        text-align: center;
    }
}  

