@import "variables";

%text-style {
    font-size: 20px;
    line-height: 25px;
}

%width {
    max-width: 1190px;
    width: 100%;
    margin: auto;
}


.reading {
    color: #000;
    margin: 50px 0 100px;

    &__container {
        display: flex;
        height: 100%;
        max-height: 580px;
        @extend%width;
        border: 1px solid #000;
        border-radius: 5px;
        position: relative;
    }

    &__form {
        padding-left: 40px;
        position: relative;
    }

    &__form img {
        position: absolute;
        left: 0;
    }

    &__number {
        font-weight: 500;
        font-size: 15px;
        color: $main-green;
        position: absolute;
        left: 8px;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        color: $main-green;
        margin-bottom: 50px;
    }

    &__text {
        @extend%text-style;
        margin-bottom: 25px;
    }

    &__sections {
        padding: 65px;
    }

    &__radio {
        background: $secondary-purple;
        border: 1px solid $secondary-purple;
        border-radius: 3px;
        width: 100%;
        max-width: 500px;
        height: 60px;
        padding-left: 45px;
        padding-top: 8px;
    }

    &__input {
        opacity: 0;
        position: absolute;
        z-index: 5;
        cursor: pointer;
    }

    &__input:checked + &__label {
        background-color: $main-purple;
    }

    &__input:focus &__letter {
        background-color: $main-green;
    }

    &__label {
        display: flex;
        margin-bottom: 5px;
    }

    &__label:nth-child(8) {
        margin-bottom: 20px;
    }

    &__label p {
        position: absolute;
        color: #fff;
        padding: 2px 0 0 5px;
        margin: 7px;
        background: $secondary-purple;
        border: 1px solid $secondary-purple;
        border-radius: 3px;
        width: 25px;
        height: 25px;
    }

    &__btn {
        width: 110px;
        height: 40px;
        border: 2px solid $main-purple;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 500;
        background-color: transparent;
    }

    &__btn:focus {
        background-color: $main-purple;
        color: #fff;
    }

    &__img {
        display: flex;
        flex-wrap: wrap;
    }
}