@import "variables";

%text-style {
    font-size: 20px;
    line-height: 25px;
}

%width {
    max-width: 1190px;
    width: 100%;
    margin: auto;
}

.start__test {
    color: #000;
    margin: 50px 0 100px;

    &-container {
        display: flex;
        @extend%width;
        border: 1px solid #000;
    }

    &-sections {
        padding: 95px 40px 95px 100px;
        position: relative;
    }

    &-numbers {
        position: absolute;
        top: 206px;
    }

    &-sections ul {
        margin: 40px 0 40px 40px;
    }

    &-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        color: $main-brown
    }

    &-section {
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        color: $main-green;
    }

    &-text {
        font-style: italic;
        @extend%text-style;
        opacity: 0.7;
    }

    &-btn {
        width: 175px;
        height: 50px;
        background: $main-green;
        border-radius: 50px;
        border: none;
        @extend%text-style;
        font-weight: 500;
        margin-top: 40px;
    }

    &-btn a {
        color: $main-brown;
    }

    &-img {
        padding: 40px 80px 40px 0;
    }
}